language: rust
cache: cargo
sudo: required
dist: trusty
addons:
  apt:
    packages:
    - libcurl4-openssl-dev
    - libelf-dev
    - libdw-dev
    - libssl-dev
rust:
- nightly
- beta
- stable
- 1.20.0
before_script:
- |
  pip install 'travis-cargo<0.2' --user &&
  export PATH=$HOME/.local/bin:$PATH
script:
- ./travis.sh
- travis-cargo --only stable doc
after_success: |
    if [[ "$TRAVIS_RUST_VERSION" == stable ]]; then
        bash <(curl https://raw.githubusercontent.com/xd009642/tarpaulin/master/travis-install.sh)
        cargo tarpaulin --run-type Tests --run-type DocTests --ciserver travis-ci --coveralls $TRAVIS_JOB_ID
    fi
env:
  global:
  - TRAVIS_CARGO_NIGHTLY_FEATURE=""
  - secure: Z0JCbroitF6pKdImGLcar9UcXDFUoggvEwYsksoGX16/28iBXLmBX6DDWN1brVdasx/i5M5aEy8xbzcV680+HEbbUgz5uLAMp3xQFzu5FJ276PM9ZFZZgb02EJuYz9THfrC9ajlc+CirYF91i/yMZbpBGajmAzp61puRph/CgI8=
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/ee4400ef3d920e51415e
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
